.container {

  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  min-height: 100vh;
}
.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.login-box {
  background-color: var(--app-loginbox-color) !important;
  padding: 15px;
  border: 1px solid var(--app-border-grey);
}
