<div class="container d-grid">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p-card [style]="{ width: '360px' }">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendPassword(forgotPasswordForm.value)">
          <h2 class="title">Forgot your password</h2>
          <div class="row mb-3">
            <div class="col-sm-12">
              <div class="form-group">
                <p-inputGroup>
                  <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                  </p-inputGroupAddon>
                  <input pInputText formControlName="userName" placeholder="Username" />
                </p-inputGroup>
                <small class="block p-error">
                  @if(user.invalid && (user.dirty || user.touched)) {
                  <div>
                    @if(user.errors?.['required']) {
                    Email is required.
                    }
                  </div>
                  <div>
                    @if(user.errors?.['email']) {
                    Email should be valid.
                    }
                  </div>
                  }
                </small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="d-grid">
                  <p-button label="Reset Password" styleClass="w-full border-round" [disabled]="forgotPasswordForm.invalid"></p-button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-12 text-center">
              <i class="fa-solid fa-right-to-bracket cursor-pointer"></i>
              <a class="ps-2 cursor-pointer" (click)="goToLogin()">Back to Login</a>
            </div>
          </div>
        </form>
      </p-card>
    </div>
  </div>
  <div class="col-sm-12">

  </div>
</div>
